<div class="container">
  <form action='/links' method='post'>
    
    <h2>Add new bookmark</h2>

    <label>Title:</label>
    <input type="text" name="title"><br>

    <label>URL:</label>
    <input type="text" name="url"><br>

    <label>Tag:</label>
    <input type="text" name="tags"><br>
    <input type="submit" value="Add!" class="btn btn-medium btn-primary">
  </form>
</div>
