<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Bookmark Manager</title>

    <style>
      body {
      background-image:url('/img/escheresque_ste.png');
      }
    </style>

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <% if current_user %>
            <p class="welcome-message">Welcome, <%=current_user.email %>!</p>
          <% end %>

            <form action='/links/new' method='get'>
              <input type="submit" value="Add a bookmark" class="add-bookmark btn btn-medium">
            </form>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
    
