<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Bookmark Manager</title>

  </head>

  <body>
    <div class="navbar nav-pills">
    <div class="navbar-inner">
      <% if current_user %>
        <p class="welcome-message">Welcome, <%=current_user.email %>!</p>
      <form action='/links/new' method='get'>
        <input type="submit" value="Add a bookmark" class="add-bookmark btn btn-medium btn-primary">
      </form>
      <% end %>
    </div>

    <div class="container">

      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors below:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>


      <%= yield %>



    </div>
    </div>
  </body>
</html>
    
